<div class="visual-guide">
  <h1>Planetas</h1>

  <!-- Spinner -->
  <div class="spinner-container" *ngIf="isLoading">
    <div class="spinner"></div>
  </div>

  <!-- Contenido -->
  <div class="card-container" *ngIf="!isLoading">
    <div class="card" *ngFor="let planet of filteredPlanetsList">
      <img [src]="getPlanetImage(planet.url)" [alt]="planet.name" />
      <h2>{{ planet.name }}</h2>
    </div>
  </div>

  <!-- Paginación -->
  <div class="pagination" *ngIf="!isLoading">
    <button (click)="previousPage()" [disabled]="!previousPageUrl">Anterior</button>
    <span>Página {{ currentPage }}</span>
    <button (click)="nextPage()" [disabled]="!nextPageUrl">Siguiente</button>
  </div>
</div>
