
@import '../../../shared/styles/login-mixins';
@import '../../../shared/styles/globals';

.login-container {
  @include flex-center(column, center, center);
  height: 100vh;
  text-align: center;
  @include background-cover('/img/fondo_heroes.png', center, cover);
  color: white;

  .login-form {
    @include login-form-styles();

    @media (max-width: 768px) {
      width: 90%;
      padding: 40px;
    }

    @media (max-width: 480px) {
      width: 80%;

    }

    .title-header {
      @include title-header-styles();

      .title {
        @include title-styles(2.5rem, $primary-color);
      }
    }

    .form-group {
      @include form-group-styles();

      input {
        @include input-styles($primary-color, $secondary-color);
      }
    }
    
    .error-message {
      @include error-message;
    }
    .password-wrapper {
      @include password-wrapper-styles();

      input {
        @include input-styles($primary-color, $secondary-color);
      }

      mat-icon.toggle-password {
        @include password-icon($primary-color, $secondary-color);
      }
    }

    .submit-button {
      @include submit-button-styles($primary-color, $secondary-color);
      @include submit-button-container();
    }
  }
}
