@font-face {
  font-family: 'StarJediOutline';
  src: url('/fonts/starjout/Starjout.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StarJedi';
  src: url('/fonts/starjedi/Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
