// Importación de fuentes
@font-face {
  font-family: 'StarJedi';
  src: url('/fonts/starjedi/Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StarJediOutline';
  src: url('/fonts/starjout/Starjout.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Colores globales
$primary-color: #ffd700;
$secondary-color: #ff9900;

// Fuentes
$font-family-jedi: 'StarJedi', sans-serif;
$font-family-jedi-outline: 'StarJediOutline', sans-serif;

// Estilos globales para html y body
html,
body {
  font-family: $font-family-jedi-outline;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  color: $primary-color;

  @media (max-width: 768px) {
    overflow: auto;
  }
}


// Tipografía de títulos
@mixin title-styles($font-size: 3rem, $stroke-color: $primary-color) {
  font-family: $font-family-jedi;
  font-size: 3.5rem;
  color: transparent;
  -webkit-text-stroke: 1px $stroke-color;
  animation: _ngcontent-ng-c1019994740_glow 1.5s infinite;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

// Formulario de entrada (inputs)
@mixin input-styles($border-color: $primary-color, $focus-color: $secondary-color) {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid $border-color;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  color: white;

  &:focus {
    border-color: $focus-color;
    box-shadow: 0 0 5px $focus-color;
  }
}

// Botones
@mixin button-styles($bg-color: $primary-color, $hover-color: $secondary-color) {
  font-family: $font-family-jedi;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: white;
  background: $bg-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: $hover-color;
  }
}

// Mixins generales
@mixin jedi-font {
  font-family: $font-family-jedi;
  font-size: 1rem;
  color: white;
}

@mixin jedi-input {
  font-family: $font-family-jedi;
  font-size: 1rem;
  color: white;
  border: 1px solid $primary-color;

  &:focus {
    border-color: $secondary-color;
  }
}
