// Colores globales
$primary-color: #ffd700;
$secondary-color: #ff9900;

// Fuentes
$font-family-jedi-outline: 'StarJediOutline', sans-serif;
$font-family-jedi: 'StarJedi', sans-serif;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
