@import '../../../shared/styles/people-mixins';
@import '../../../shared/styles/globals';

.people-container {
  @include container-style();
  padding-bottom: 50px;
  min-height: calc(100vh - 50px);
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: -0.8em;

  // mixin para diseño responsivo
  @include mobile-layout;
}

.title {
  @include title-styles($primary-color);
  @include infinite-glow($primary-color, rgba(255, 255, 0, 0.5));
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .back-home {
    @include button-styles($primary-color, $secondary-color);
    font-size: 1.2rem; // Ajustar tamaño del botón
    padding: 8px 16px; // Mayor padding
    background-color: rgba(255, 255, 0, 0.8); // Fondo amarillo
    color: black; // Color del texto
    border: 1px solid $primary-color; // Borde del color principal
    border-radius: 8px; // Bordes redondeados
    cursor: pointer;

    &:hover {
      background-color: $secondary-color; // Cambio de fondo al hover
      color: $primary-color; // Cambio de texto al hover
    }
  }
}
.back-home {
  margin-bottom: 20px;
  align-self: flex-start; // Alineación a la izquierda en mobile

  button {
    @include button-styles(#ffd700, #ffa500); // Estilos del botón
    font-family: $font-family-jedi;
    font-size: 1.2rem; // Ajustar tamaño del texto
    background-color: rgba(255, 223, 0, 0.9); // Fondo amarillo más intenso
    color: black; // Color del texto
    padding: 10px 20px; // Mayor padding para que sea más visible
    border-radius: 8px; // Bordes redondeados
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Sombra para destacar el botón
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #ffa500; // Cambio de fondo al hover
      transform: translateY(-2px); // Efecto de elevación al hover
    }

    &:active {
      transform: translateY(0); // Efecto de clic
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

.search-bar {
  @include flex-center(row, 15px);
  margin-bottom: 25px;
  width: 100%;
  max-width: 600px;

  input {
    @include input-style(100%, 12px, #333, #fff);
    font-family: $font-family-jedi;
    font-size: 1rem;
    border: 1px solid #ffd700; // Borde amarillo
    border-radius: 5px; // Bordes redondeados
    padding: 10px 15px; // Espaciado interno
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $secondary-color; // Color del borde al enfocar
    }
  }

  button {
    @include button-styles($primary-color, $secondary-color);
    font-size: 1rem;
    padding: 10px 15px;

    &:nth-child(3) {
      background-color: #ff0000; // Fondo rojo para "Limpiar"
      color: white; // Texto blanco
    }
  }
}

.cards-container {
  @include grid-style(auto-fit, 240px, 15px, 1020px);
  margin: auto;
}

.card {
  @include card-style(#1c1c1c, rgba(255, 255, 0, 0.3));
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(255, 255, 0, 0.7);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffd700;
    text-align: center;
    font-family: "StarJedi", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }

  button {
    @include button-styles($primary-color, $secondary-color);
    font-size: 1rem;
    margin-top: 10px;
  }
}

.paginator {
  @include paginator-container(10px, 15px);
  margin-top: auto;
  width: 100%;
  max-width: 500px;
  padding: 10px 0;

  button {
    @include button-styles($primary-color, $secondary-color);
    font-size: 1rem;
    padding: 8px 16px;
    width: fit-content;
  }

  span {
    font-size: 1rem;
    font-family: "StarJediOutline", sans-serif;
    color: white;
    text-align: center;
  }
}
